/* styles/styles.css */
@font-face {
    font-family: 'Handwriting';
    src: url('../fonts/Handwriting-Regular.otf') format('opentype');
  }
  
  body {
    font-family: 'Handwriting', sans-serif;
    background-color: #210535; /* Nebula Purple */
    color: #f5d5e0; /* Light text color */
    margin: 0;
    padding: 0;
  }
  
  .title-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #430d4b; /* Darker Nebula Purple */
    color: #f5d5e0;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .tabs {
    display: flex;
  }
  
  .tab {
    padding: 10px;
    cursor: pointer;
    background-color: #7b337d; /* Medium Nebula Purple */
    color: #f5d5e0;
    border-radius: 5px;
    margin-right: 5px;
    transition: background-color 0.3s;
  }
  
  .tab.active {
    background-color: #c874b2; /* Lighter Nebula Purple */
  }
  
  .tab:hover {
    background-color: #9b4d9b; /* Hover effect */
  }
  
  .window-controls button {
    background: none;
    border: none;
    color: #f5d5e0;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 16px;
    transition: color 0.3s;
  }
  
  .window-controls button:hover {
    color: #c874b2; /* Hover effect */
  }
  
  .navigation {
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  
  .navigation button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    margin: 0 5px;
    color: #f5d5e0;
    transition: color 0.3s;
  }
  
  .navigation button:hover {
    color: #c874b2; /* Hover effect */
  }
  
  .content {
    padding: 20px;
  }
  
  .settings {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  #settings-menu {
    display: none;
    background-color: #430d4b;
    border: 1px solid #c874b2;
    padding: 10px;
    position: absolute;
    top: 30px;
    right: 0;
    color: #f5d5e0;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  #settings-menu.hidden {
    display: none;
  }
  